# Hexlet python-package + сборка
*.egg-info
*.egg
*.pyc
__pycache__
dist/
build/
*.whl
*.tar.gz
.venv/
.coverage
coverage.xml
*_cache/

# Архивы
*.zip
*.rar
*.7z
*.bz2
*.gz

# Локальные записи asciinema
*.cast
